<ion-tabs class="tabs-icon-top tabs-positive" ng-controller="tabCtrl">
    <ion-tab title="拾色器" icon="ion-ios-color-filter-outline" href="#/tab/pick">
        <ion-nav-view name="tab-pick"></ion-nav-view>
    </ion-tab>

    <ion-tab title="同步" icon="ion-ios-cloud-upload" href="#/tab/upload">
        <ion-nav-view name="tab-upload"></ion-nav-view>
    </ion-tab>

    <ion-tab title="关于" icon="ion-information" href="#/tab/about">
        <ion-nav-view name="tab-about"></ion-nav-view>
    </ion-tab>
</ion-tabs>
